html {
  background-color: #c2c2c2;
}

.description-div {
  margin: 0 60% 0 5%;
}

.slogan {
  color: #5b5b5b;
  line-height: 1.5;
  margin-top: -6%;

}

.stars-div {
  float: right;
  margin: -225px 15% 0 0;
}

.star {
  margin-right: 20px;
}

.reviews {
  background-color: #bcbcbc;
  color: #5f157b;
  font-family: sans-serif;
  margin: 0 5% 5% -5%;
  padding: 10px 70px 10px 25px;
  border-radius: 5px;
}

.report-guru {
  background-color: #bcbcbc;
  color: #5f157b;
  font-family: sans-serif;
  margin: 0 0 5% 0;
  padding: 10px 70px 10px 25px;
  border-radius: 5px;
}

.besttech {
  background-color: #bcbcbc;
  color: #5f157b;
  font-family: sans-serif;
  margin: 0 -5% 0 5%;
  padding: 10px 50px 10px 55px;
  border-radius: 5px;
}

.customer-reviews {
  overflow: hidden;
}

.colton-smith-background {
  background-color: #5f157b;
  border-radius: 5px;
  float: left;
  width: 300px;
  height: 200px;
  margin: 40px 45px 0 60px;
}

.colton-smith-div {
  font-family: sans-serif;
}

.img-colton {
  border-radius: 50%;
  width: 10%;
  height: 10%;
  margin: 25px 15px 0 30px;

}

.c-s-top {
  display: inline-block;
}

.irene-roberts-background {
  background-color: #5f157b;
  border-radius: 5px;
  float: left;
  width: 300px;
  height: 200px;
  margin: 50px 45px 0 0;
}

.irene-roberts-div {
  font-family: sans-serif;
}

.img-irene {
  border-radius: 50%;
  width: 10%;
  height: 10%;
  margin: 25px 15px 0 30px;
}

.i-r-top {
  display: inline-block;
}

.anne-wallace-background {
  background-color: #5f157b;
  border-radius: 5px;
  float: left;
  width: 300px;
  height: 200px;
  margin: 60px 0 0 0;
}

.anne-wallace-div {
  font-family: sans-serif;
}

.img-anne {
  border-radius: 50%;
  width: 10%;
  height: 10%;
  margin: 25px 15px 0 30px;
}

.a-w-top {
  display: inline-block;
}

.feedback {
  font-size: .75em;
  margin: 25px 30px 0 30px;
}

h1 {
  font-family: sans-serif;
  color: #5f157b;
  font-size: 3em;
  line-height: 1em;

}

h4 {
  color: #bcbcbc;
  font-family: sans-serif;
  margin-bottom: -1px;
}

p {
  color: #bcbcbc;
  font-family: sans-serif;
  line-height: 1.5;
}

span {
  color: #9f72af;
  font-size: .8em;
}
